{% extends "base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Social Network Login Failure" %}{% endblock %}
{% block content %}
    <div id="auth-error">
        <div class="container my-3">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="bg-dark p-3 rounded">
                        <div class="py-3">
                            <p class="text-center text-danger mb-3"><i class="fas fa-skull fa-fw fa-5x"></i></p>
                            <h1 class="text-center mb-3">{% trans "Social Network Login Failure" %}</h1>
                            {% url 'account_login' as login_url %}
                            <p class="small">{% trans "An error occurred while attempting to login via your social network account." %}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
{% endblock %}
