{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block content %}
    <div id="settings">
        <div class="container my-3">
            <div class="row">
                <div class="col-md-3 offset-md-1">
                    {% include 'components/userprofile_update_menu.html' %}
                </div>
                <div class="col-md-6">
                    <div class="bg-light p-3 rounded mb-3">
                        <h1 class="h3"><i class="fas fa-cogs fa-fw text-info mr-1"></i> {% trans "Change Password" %}</h1>
                        <p class="text-muted m-0">Feel free to change what you want here. It's your account, it's your data. <strong>Remember, the data entered here will be public, the only private data will be your password and email.</strong></p>
                        <hr>
                        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                            {% csrf_token %}
                            {% bootstrap_form_errors form %}
                            {% bootstrap_form form %}
                            {% if redirect_field_value %}
                                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                            {% endif %}
                            {% buttons %}
                                <div class="mt-3">
                                    <a class="btn btn-sm" href="{% url 'account_reset_password' %}" role="button"><i class="far fa-question-circle fa-fw"></i> {% trans "Forgot Password?" %}</a>
                                    <button name="action" type="submit" class="btn btn-success float-right btn-sm px-3">{% trans "Change Password" %}</button>
                                </div>
                            {% endbuttons %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
