{% load thumbnail %}
{% load custom_filters %}
<div class="userthumb-home mb-3">
    <div class="media">
        <a href="{% url 'userprofile' object.user.username %}">
            <img src="{{ object.user.userprofile.avatar|thumbnail_url:'48x48'|default:'https://via.placeholder.com/48' }}" class="rounded mr-3" alt="{% if object.user.get_full_name %}{{ object.user.get_full_name }} - @{{ object.user.username }}{% else %}@{{ object.user.username }} avatar.{% endif %}">
        </a>
        <div class="media-body">
            <h6 class="name mb-1">
                <a href="{% url 'userprofile' object.user.username %}">
                    {% if object.user.get_full_name %}{{ object.user.get_full_name }}{% else %}{{ object.user.username }}{% endif %}
                    <small class="username text-muted">
                        @{{ object.user.username }} {% if object.user.is_superuser %}<i class="fas fa-check-circle fa-fw fa-xs text-primary"></i>{% endif %}
                    </small>
                </a>
            </h6>
            <span class="badge badge-danger">{{ object.user.userprofile.nintendo_switch_code|switch_code_formatter:'switch' }}</span>
        </div>
        {% if object.user.userprofile.favorite_game %}
            <div class="media-body text-right small mt-2">
                <h6 class="my-0">Dodo code</h6>
                <p class="mb-0 text-success font-weight-bold">{{ object.code|upper }}</p>
            </div>
        {% endif %}
    </div>
</div>