{% extends 'base.html' %}
{% load humanize %}
{% load thumbnail %}
{% load static %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/components.css' %}">
{% endblock %}
{% block content %}
	<div id="members">
		<div class="container my-3">
			<div class="row">
				<div class="col-md-12">
					<h1 class="h4"><i class="fas fa-users fa-fw text-info mr-1"></i> Latest members</h1>
					<p>These are the last members registered on the website. You can only see those that have a public profile.</p>
					<hr>
					<div class="row">
						{% if object_list %}
							{% for object in object_list %}
								<div class="col-md-4">
									{% include 'components/user_thumb_members.html' %}
								</div>
							{% endfor %}
						{% else %}
							<div class="alert alert-info" role="alert">
								<i class="fas fa-info-circle fa-fw"></i> There is no members to show.
							</div>
						{% endif %}
					</div>
					{% if is_paginated %}
					{% load proper_paginate %}
					{% load url_replace %}
					<div class="pagination-block">
						<div>
							{% if not page_obj.number == 1 %}
								<span class="page">
									<a href="?{% url_replace request 'page' 1 %}">
										<i class="fas fa-step-backward"></i>
									</a>
								</span>
								{% endif %}
								{% if page_obj.has_previous %}
								<span class="page">
									<a href="?{% url_replace request 'page' page_obj.previous_page_number %}">
										<i class="fas fa-chevron-left"></i>
									</a>
								</span>
							{% endif %}
							{% for i in paginator|proper_paginate:page_obj.number %}
								{% if page_obj.number == i %}
								<span class="page current">
									<span>{{ i }}</span>
								</span>
								{% else %}
								<span class="page">
									<a href="?{% url_replace request 'page' i %}">{{ i }}</a>
								</span>
								{% endif %}
							{% endfor %}
							{% if page_obj.has_next %}
								<span class="page">
									<a href="?{% url_replace request 'page' page_obj.next_page_number %}">
										<i class="fas fa-chevron-right"></i>
									</a>
								</span>
							{% endif %}
							{% if not page_obj.number == paginator.num_pages %}
								<span class="page">
									<a href="?{% url_replace request 'page' paginator.num_pages %}">
										<i class="fas fa-step-forward"></i>
									</a>
								</span>
							{% endif %}
						</div>
					</div>
				{% endif %}
				</div>            
			</div>
		</div>
	</div>
{% endblock %}