{% extends 'base.html' %}
{% load humanize %}
{% load thumbnail %}
{% load static %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/explore.css' %}">
<link rel="stylesheet" href="{% static 'css/components.css' %}">
{% endblock %}
{% block content %}
	<div id="members">
		<div class="container my-3">
			<div class="row">
				<div class="col-md-12">
					<div class="bg-dark text-light rounded p-3">
						<h3><i class="fas fa-users fa-fw text-info mr-1"></i> Latest members</h3>
						<p>These are the last members registered on the website. You can only see those that have a public profile.</p>
						<hr>
						<div class="row">
							{% if object_list %}
								{% for object in object_list %}
									<div class="col-md-6">
										<img class="header img-fluid rounded-top" src="{{ object.userprofile.header|thumbnail_url:'524x196'|default:'https://via.placeholder.com/524x196' }}" alt="{% if object.get_full_name %}{{ object.get_full_name }} - @{{ object.username }}{% else %}@{{ object.username }} header.{% endif %}">
										<div class="media mb-3 bg-darker p-3 rounded-bottom">
											<img src="{{ object.userprofile.avatar|thumbnail_url:'48x48'|default:'https://via.placeholder.com/48' }}" class="rounded-circle mr-3" alt="{% if object.get_full_name %}{{ object.get_full_name }} - @{{ object.username }}{% else %}@{{ object.username }} avatar.{% endif %}">
											<div class="media-body">
											  <a href="#" class="h6 mt-1 mb-0">{% if object.get_full_name %}{{ object.get_full_name }}{% else %}{{ object.username }}{% endif %}</a>
											  <p class="text-muted small my-0">@{{ object.username }}</p>
											</div>
										</div>
									</div>
								{% endfor %}
							{% endif %}
						</div>						
					</div>
					{% if is_paginated %}
					{% load proper_paginate %}
					{% load url_replace %}
					<div class="pagination-block">
						<div>
							{% if not page_obj.number == 1 %}
								<span class="page">
									<a href="?{% url_replace request 'page' 1 %}">
										<i class="fas fa-step-backward"></i>
									</a>
								</span>
								{% endif %}
								{% if page_obj.has_previous %}
								<span class="page">
									<a href="?{% url_replace request 'page' page_obj.previous_page_number %}">
										<i class="fas fa-chevron-left"></i>
									</a>
								</span>
							{% endif %}
							{% for i in paginator|proper_paginate:page_obj.number %}
								{% if page_obj.number == i %}
								<span class="page current">
									<span>{{ i }}</span>
								</span>
								{% else %}
								<span class="page">
									<a href="?{% url_replace request 'page' i %}">{{ i }}</a>
								</span>
								{% endif %}
							{% endfor %}
							{% if page_obj.has_next %}
								<span class="page">
									<a href="?{% url_replace request 'page' page_obj.next_page_number %}">
										<i class="fas fa-chevron-right"></i>
									</a>
								</span>
							{% endif %}
							{% if not page_obj.number == paginator.num_pages %}
								<span class="page">
									<a href="?{% url_replace request 'page' paginator.num_pages %}">
										<i class="fas fa-step-forward"></i>
									</a>
								</span>
							{% endif %}
						</div>
					</div>
				{% endif %}
				</div>            
			</div>
		</div>
	</div>
{% endblock %}