{% extends 'base.html' %}
{% load static %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/components.css' %}">
{% endblock %}
{% block content %}
    <div id="feed">
        <div class="container my-3">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <h1 class="h4"><i class="fas fa-list-ul fa-fw text-info"></i> Feed</h1>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 offset-md-1">
                    {% if object_list %}
                        {% for object in object_list %}
                            {% include 'components/post.html' %}
                        {% endfor %}
                    {% else %}
                        <div class="alert alert-info" role="alert">
                            <h4 class="alert-heading">Thanks for signing up!</h4>
                            <p>Apparently, you don't follow anyone on this network. We recommend you check the <a href="{% url 'members' %}">members section</a> to start following new users.</p>
                            <hr>
                            <p class="mb-0">Also if you do not have an avatar, featured image and full name, we recommend that you fill them in on your profile to get more visits.</p>
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-4">
                    {% if user.is_authenticated %}
                        <a class="btn btn-info btn-lg btn-block mb-3" href="{% url 'post_create' %}" role="button"><i class="fas fa-plus fa-fw"></i> Post</a>
                        {% include 'components/userprofile_completion.html' %}
                        {% if user.userprofile.favorite_game.slug == 'animal-crossing-new-horizons' %}
                            <div class="bg-light rounded my-3">
                                <h2 class="h6 pt-3 px-3"><i class="fas fa-gamepad fa-fw text-info mr-1"></i> {{ user.userprofile.favorite_game.title }}</h2>
                                <hr>
                                <div class="pb-3 px-3">
                                    <p class="small">Since you selected <strong>{{ user.userprofile.favorite_game.title }}</strong> as your favorite game, new options for sharing dodo codes have been activated.</p>
                                    <a class="btn btn-success btn-block" href="{% url 'dodo_create' %}" role="button"><i class="fas fa-plus fa-fw"></i> New Dodo code</a>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}