{% extends 'base.html' %}
{% load thumbnail %}
{% load static %}
{% load custom_filters %}
{% block content %}
    <div class="home">
        <div class="container my-3">
            {% if not user.is_authenticated %}
            <div class="jumbotron bg-light rounded w-100 my-3">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <img class="img-fluid rounded" src="{% static 'img/index__jumbotron.jpg' %}">
                        </div>
                        <div class="col-md-6">
                            <h1 class="display-4">Hello gamer!</h1>
                            <p class="lead">This site was created in order to share friend codes for the nintendo switch platform.</p>
                            <hr class="my-3">
                            <p>If you want to start sharing, you need to create an account and fill out some necessary fields to start sharing.</p>
                            <a class="btn btn-info" href="{% url 'account_signup' %}" role="button"><i class="fas fa-sign-in-alt fa-fw mr-1"></i> Sign up</a>
                        </div>
                    </div>                    
                </div> 
            </div>
            {% endif %}
            <div class="row">
                <div class="col-md-12">
                    <div class="bg-light rounded p-3 mb-3">
                        <h3><i class="fas fa-th-large fa-fw text-info mr-1"></i> Dashboard</h3>
                        <p>These are the last games, friend codes, registered users and dodo codes published.</p>
                        <div class="row mt-5">
                            <div class="col-md-6">
                                <h2 class="h5"><i class="fas fa-list-ul fa-fw text-info mr-1"></i> Games</h2>
                                <hr>
                                {% if games %}
                                <div class="row">
                                    {% for object in games %}
                                        <div class="col-md-4 mb-3">
                                            {% include 'components/game_thumb__index.html' %}
                                        </div>
                                    {% endfor %}
                                </div>
                                {% else %}
                                    <div class="alert alert-info" role="alert">
                                        <i class="fas fa-info-circle fa-fw"></i> No games have been added to the database.
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-md-6">
                                <h2 class="h5"><i class="fas fa-users fa-fw text-info mr-1"></i> Latest Logged Users</h2>
                                <hr>
                                {% if users_last_login %}
                                    {% for object in users_last_login %}
                                        {% include 'components/user_thumb_index.html' %}
                                    {% endfor %}
                                {% else %}
                                    <div class="alert alert-info" role="alert">
                                        <i class="fas fa-info-circle fa-fw"></i> No friend codes have been shared.
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="bg-light rounded p-3">
                        <h3><i class="fas fa-th-large fa-fw text-info mr-1"></i> Animal Crossing: New Horizons</h3>
                        <p>These are the last games, friend codes, registered users and dodo codes published.</p>
                        <div class="row mt-5">
                            <div class="col-md-6">
                                <h2 class="h5"><i class="fas fa-list-ul fa-fw text-info mr-1"></i> Latest Users</h2>
                                <hr>
                                {% if users_date_joined %}
                                    {% for object in users_date_joined %}
                                        {% include 'components/user_thumb_index.html' %}
                                    {% endfor %}
                                {% else %}
                                    <div class="alert alert-info" role="alert">
                                        <i class="fas fa-info-circle fa-fw"></i> No games have been added to the database.
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-md-6">
                                <h2 class="h5"><i class="fas fa-code fa-fw text-info mr-1"></i> Dodo Codes (Animal Crossing) <a class="btn btn-success btn-sm float-right" href="{% url 'dodo_create' %}" role="button"><i class="fas fa-plus fa-fw"></i> Share Code</a></h2>
                                <hr>
                                {% if dodos %}
                                    {% for object in dodos %}
                                        {% include 'components/user_thumb_index_dodo.html' %}
                                    {% endfor %}
                                {% else %}
                                    <div class="alert alert-info" role="alert">
                                        <i class="fas fa-info-circle fa-fw"></i> No dodo codes have been shared.
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>            
            </div>
        </div>
    </div>
{% endblock %}