{% extends 'base.html' %}
{% load thumbnail %}
{% load static %}
{% load custom_filters %}
{% block content %}
    <div class="home">
        <div class="container my-3">
            {% if not user.is_authenticated %}
            <div class="jumbotron bg-dark text-light rounded w-100 my-3">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="display-4">Hello gamer!</h1>
                            <p class="lead">This site was created in order to share friend codes for the nintendo switch platform.</p>
                            <hr class="my-4">
                            <p>If you want to start sharing, you need to create an account and fill out some necessary fields to start sharing.</p>
                            <a class="btn btn-info btn-lg" href="{% url 'account_signup' %}" role="button"><i class="fas fa-sign-in-alt fa-fw mr-1"></i> Sign up</a>
                        </div>
                    </div>                    
                </div> 
            </div>
            {% endif %}
            <div class="row">
                <div class="col-md-12">
                    <div class="bg-dark text-light rounded p-3">
                        <h3><i class="fas fa-th-large fa-fw text-info mr-1"></i> Latest codes</h3>
                        <p>These are the last friend codes published with the option to view them publicly.</p>
                        <div class="row mt-5">
                            <div class="col-md-6">
                                <h5><i class="fas fa-list-ul fa-fw text-info mr-1"></i> Lists By Game</h5>
                                <hr>
                                {% if games %}
                                    {% for object in games %}
                                        <div class="media">
                                            <img src="https://via.placeholder.com/48x48" class="mr-3 img-fluid rounded" alt="...">
                                            <div class="media-body">
                                                <h6 class="mt-1 mb-0">{{ object.title }}</h6>
                                                <a href="#" class="small">View list</a>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <div class="alert alert-info" role="alert">
                                        <i class="fas fa-info-circle fa-fw"></i> No games have been added to the database.
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-md-6">
                                <h5><i class="fas fa-users fa-fw text-info mr-1"></i> By User</h5>
                                <hr>
                                {% if users_public %}
                                    {% for object in users_public %}
                                        {% include 'components/user_thumb_index.html' %}
                                    {% endfor %}
                                {% else %}
                                    <div class="alert alert-info" role="alert">
                                        <i class="fas fa-info-circle fa-fw"></i> No friend codes have been shared.
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>            
            </div>
        </div>
    </div>
{% endblock %}