{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="post-create">
        <div class="container my-3">
            {% if user.is_authenticated %}
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="p-3 bg-dark rounded">
                        {% include 'components/form.html' %}
                    </div>
                </div>            
            </div>
            {% else %}
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    
                </div>            
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}