<div id="footer" class="small bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h2 class="h5 text-uppercase text-muted">Legal</h2>
                <p class="small text-muted">Animal Crossing™: New Horizons, Dodo Code™, and Dodo Airlines are trademarks of Nintendo Co., Ltd. Other trademarks are the property of their respective owners. DodoCodes.com is a fan built website and is not affiliated with Nintendo.</p>
                <p class="small text-muted">All auctions and trades are NON-monetary. Anyone found utilizing this website for real money transactions will be immediately banned from the service.</p>
                <p class="small text-muted">Content and media are displayed on this site for educational, informational, and research purposes only under 17 U.S.C. § 107 Fair Use, are subject to copyright to their respective owners, and should not be downloaded, redistributed, modified, or sold without their express consent.</p>
            </div>
            <div class="col-md-3">
                <h2 class="h5 text-uppercase text-muted">Info</h2>
                <ul class="list-style-none p-0 m-0">
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Donate</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h2 class="h5 text-uppercase text-muted">Quick Links</h2>
                <ul class="list-style-none p-0 m-0">
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'feed' %}">Feed</a></li>
                    <li><a href="{% url 'members' %}">Members</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h2 class="h5 text-uppercase text-muted">About</h2>
                <p class="small text-muted">Hello, my name is Cesar Cotiz. Father of 4 kids, Gamer since '87, Web Developer, Python Lover.</p>                    
                <p class="small text-muted">The objective of this site is to create a community based on multiplayer nintendo switch games and unify one of the largest communities in the world of video games.</p>
                
            </div>
        </div>
    </div>
</div>