<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{% url 'index' %}"><i class="fas fa-address-card fa-fw text-info mr-1"></i> Fluffyeureka</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link text-info" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link text-info" href="{% url 'feed' %}">Feed</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link text-info" href="{% url 'members' %}">Members</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ user.username }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{% url 'userprofile' user.username %}"><i class="far fa-address-card fa-fw"></i> Profile</a>
                                <a class="dropdown-item" href="{% url 'userprofile_basic' %}"><i class="fas fa-cog fa-fw"></i> Settings</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-danger" href="{% url 'account_logout' %}"><i class="fas fa-sign-out-alt fa-fw"></i> Log out</a>
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link mr-2 font-weight-bold" href="{% url 'account_login' %}"><i class="fas fa-sign-in-alt fa-fw text-info mr-1"></i> Sign in</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>